// colors
$color-blue: #009FF5;
$color-red: #EB5757;
$color-green: #2ABBAA;
$color-yellow: #FFDB29;
$color-orange: #e67e22;

// primary, secondary
$color-primary: $color-blue;
$color-primary-red: $color-red;
$color-secondary: $color-green;

// Components
$header-height: 40px;
$mobile-side-padding: 15px;
$view-max-width: 1040px;

// Misc
$color-text: #333333;
$color-placeholder: #9D9D9D;
$color-border: #E0E0E0;
$color-light-bg: #F9F9F9;
$color-bg-button: #F4F4F4;
$color-subtext: #BDBDBD;
$color-body-bg: #fdfdfd;
